/* region gallery Mobile  */
/* endregion gallery Mobile  */

/* region gallery Tablet  */
@media screen and (min-width: 768px) {
}
/* endregion gallery Tablet  */

/* region gallery Desktop  */
@media screen and (min-width: 1366px) {
}
/* endregion gallery Desktop  */
