/* region hero Mobile  */
/* endregion hero Mobile  */

/* region hero Tablet  */
@media screen and (min-width: 768px) {
}
/* endregion hero Tablet  */

/* region hero Desktop  */
@media screen and (min-width: 1366px) {
}
/* endregion hero Desktop  */
