/* region testimonials Mobile  */
/* endregion testimonials Mobile  */

/* region testimonials Tablet  */
@media screen and (min-width: 768px) {
}
/* endregion testimonials Tablet  */

/* region testimonials Desktop  */
@media screen and (min-width: 1366px) {
}
/* endregion testimonials Desktop  */
