/* region yoga_classes Mobile  */
/* endregion yoga_classes Mobile  */

/* region yoga_classes Tablet  */
@media screen and (min-width: 768px) {
}
/* endregion yoga_classes Tablet  */

/* region yoga_classes Desktop  */
@media screen and (min-width: 1366px) {
}
/* endregion yoga_classes Desktop  */
